/* Custom Styles Sheet */
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

code {
  font-family: 'Robto Mono', monospace;
}

.header-transparent {
  background: url('/assets/img/crevice_view.jpg') center / cover;
  height: 256px;
  border-bottom:
}

.header-transparent .mdl-layout__header,
.header-transparent .mdl-layout__drawer-button {
  color: white;
}

img.header-logo {
width: 48px;
  margin-right: 16px;
}

div.dark-header {
  background-color: rgba(0, 0, 0, 0.5);
}

.side-nav .mdl-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  text-decoration-style: solid;
}

.side-nav .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: #757575;
  margin-right: 32px;
}

.top-nav .mdl-navigation__link .material-icons {
  margin-right: 8px;
}

.mdl-layout-title {
  font-weight: 500;
}

.server-status__header {
  margin-top: 48px;
  height: 64px;
}

.server-status__header .server-status span.server-title {
  font-size: 16px;
  padding: 4px;
  margin-left: 16px;
  font-weight: 500;
}

.server-status__header .server-status .online {
  font-size: 32px;
  color: #00FF00;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.footer-fix {
  width: inherit;
}

.mdl-mini-footer--social-btn, .mdl-mini-footer__social-btn {
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  background-color: #9e9e9e;
  border: none;
}

.social-btn {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent !important;
  margin: 0 16px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.46;
  border-radius: 2px;
}

.social-btn__twitter {
  background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_twitter_black_24dp.png');
}
